*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li{
	list-style: none;
}

	/*header*/
header{
	width: 100%;
	background-color: #ec715f;
    height: 70px;
}
nav{
	width: 1024px;
	margin: 0 auto;
}
.logo-img{
	float: left;
	height: 70px;
}
.header-list{
	display: inline-block;
	float: right;
	line-height: 70px;
}
.header-item{
	display: inline-block;
	margin: 0 30px;
	font-size: 16px;
	color: #fafafa;
}
/*media-header hamberger*/
/*.media-header {
  padding:5px 0;
}

#nav-drawer {
  position: relative;
}
*/
/*チェックボックス等は非表示に*/
/*.nav-unshown {
  display:none;
}
*/
/*アイコンのスペース*/
/*#nav-open {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  padding-top: 10px;
}

*//*ハンバーガーの形をCSSで表現*/
/*#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 5px;*//*線の太さ*/
 /*width: 50px;*//*長さ*/
/*  border-radius: 3px;
  background: #fafafa;
  display: inline-block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -15px;
}
#nav-open span:after {
  bottom: -30px;
}
*/
/*閉じる用の薄黒箇所*/
/*#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
*/
/*メニューの中身*/
/*#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 330px;*//*最大幅（お好みで調整を）*/
/*  height: 100%;
  background: #EC715F;
  color: #fafafa;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}
.media-header-item{
	width: 100%;
	font-size: 30px;
	padding: 60px;
	text-align: center;
	border-bottom: 1px solid #fafafa;
}
.logo-area{
	background-image: url(img/logo.png);
	background-size: cover;
	background-position: center;
	height: 50px;
	padding: 5px;

}
*/
/*チェックがついたら表示させる*/
/*#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo-menu{
 display: flex;
 display: -moz-flex;
 display: -o-flex;
 display: -webkit-flex;
 display: -ms-flex;
 flex-direction: row;
 -moz-flex-direction: row;
 -o-flex-direction: row;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
}
*/
/*main-visual*/
.main-visual{
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}
.main-text{
	text-align: center;
	padding-top: 200px;
	color: #fafafa;
}
h1{
	font-size: 64px;
	padding-bottom: 10px;
}
.main-text > p{
	font-size: 20px;
}

/*portfolio*/
.portfolio{
	background-color: #eceff1;
	width: 100%;
}
.portfolio-wrapper{
	width: 920px;
	margin: 0 auto;
	padding: 90px 0;
}
.portfolio-text{
	text-align: center;
	padding-bottom: 30px;
}
.portfolio-head{
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.border{
	width: 70px;
	border-bottom: 3px solid #ec715f;
	margin-bottom: 30px;
	display: inline-block;
}
.portfolio-text > p{
	font-size: 16px;
	color: #000000;
}
/*pf-box*/
.portfolio-boxes::after{
	content: "";
	display: block;
	clear: both;
}
.pf-box{
	width: 300px;
	height: 250px;
	margin: 0 10px 10px 0;
	float: left;
}
.pf-box:nth-of-type(3n){
	margin-right: 0;
}
.pf1{
	background-image: url(img/sketch.jpg);
	background-size: cover;
	background-position: center;
}
.pf2{
	background-image: url(img/websuku.png);
	background-size: cover;
	background-position: center;
}
.pf3{
	background-image: url(img/write.jpg);
	background-size: cover;
	background-position: center;
}
.pf4{
	background-image: url(img/webcamp.png);
	background-size: cover;
	background-position: center;
}
.pf5{
	background-image: url(img/talk.jpg);
	background-size: cover;
	background-position: center;
}
.pf6{
	background-image: url(img/webcamp-mother.png);
	background-size: cover;
	background-position: center;
}

/*feature*/
.feature{
	width: 100%;
}
.feature-wrapper{
	width: 980px;
	margin: 0 auto;
	padding: 90px 0;
}
.feature-text{
	text-align: center;
	padding-bottom: 30px;
}
.feature-head{
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.border{
	width: 70px;
	border-bottom: 3px solid #ec715f;
	margin-bottom: 30px;
	display: inline-block;
}
.feature-text > p{
	font-size: 16px;
	color: #000000;
}

/*feature-box*/
.feature-boxes::after{
	content: "";
	display: block;
	clear: both;
}
.ft-box{
	width: 320px;
	margin-right:10px;
	float: left;
}
.ft-box:nth-of-type(3n){
	margin-right: 0;
}
.ft-icon{
	font-size: 60px;
	text-align: center;
}
.ft-box > h3{
	font-size: 20px;
	color: #000000;
	padding: 10px 0;
	text-align: center;
}

/*profile*/
.profile{
	width: 100%;
	background-color: #eceff1;
}
.profile-wrapper{
	width: 1024px;
	margin: 0 auto;
	padding: 90px 0;
}
.profile-text{
	text-align: center;
	padding-bottom: 30px;
}
.profile-head{
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.border{
	width: 70px;
	border-bottom: 3px solid #ec715f;
	margin-bottom: 30px;
	display: inline-block;
}
.profile-text > p{
	font-size: 16px;
	color: #000000;
}

/*introduction*/
.introduction::after{
	content: "";
	display: block;
	clear: both;
}
.my-photo-box{
	width: 50%;
	float: left;
}
.my-photo{
	margin: 0 auto;
	text-align: center;
	background-image: url(img/my-icon.jpg);
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-position: center;
}
.my-text-box{
	width: 50%;
	float: left;
}
.my-text-box > h3{
	font-size: 20px;
	padding-bottom: 5px;
}
.my-text-box > p{
	font-size: 16px;
	color: #000000;
}
.skill{
	margin-top: 20px;
}

/*contact*/
.contact{
	width: 100%;
}
.contact-wrapper{
	width: 800px;
	margin: 0 auto;
	padding: 90px 0;
}
.contact-text{
	text-align: center;
	padding-bottom: 30px;
}
.contact-head{
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.border{
	width: 70px;
	border-bottom: 3px solid #ec715f;
	margin-bottom: 30px;
	display: inline-block;
}
.contact-text > p{
	font-size: 16px;
	color: #000000;
}
/*contact-box*/
.contact-box::after{
	content: "";
	display: block;
	clear: both;
}
.left-content{
	width: 50%;
	float: left;
}
.information{
	margin: 0 auto;
	width: 150px;
}
.information > h3{
	font-size: 20px;
	padding-bottom: 5px;
}
.information > p{
	font-size: 16px;
	color: #000000;
}
.tel{
	margin: 20px 0;
}
.right-content{
	width: 50%;
	float: right;
}
.sns{
	width: 210px;
	margin: 0 auto;
}
.sns > h3{
	font-size: 20px;
	padding-bottom: 5px;
}
.sns-icon{
	display: inline-block;
	font-size: 50px;
	padding: 0 10px;
}

/*footer*/
footer{
	width: 100%;
	height: 60px;
	background-color: #ec715f;
	color: #fafafa;
	font-size: 16px;
	text-align: center;
	line-height: 60px;
}

/*media*/
/*@media screen and (min-width:767px) {
   #nav-drawer {
     display:none;
   }
 }*/
@media screen and (max-width:767px) {
	header{
		height: 50px;
	}
	nav{
		width: 90%;
		display: none;
	}
	.logo-img{
		height: 50px;
	}

	/*main-visual*/
	.main-visual{
		height: 650px;
		background-image: url(img/code.png);
	}
	.main-text{
		width: 90%;
		margin: 0 auto;
	}
	h1{
		font-size: 40px;
	}
	.main-text > p{
		font-size: 18px;
	}

	/*portfolio*/
	.portfolio-wrapper{
		width: 90%;
		margin: 0 auto;
	}
	.pf-box{
		float: none;
		margin-bottom: 10px;
		margin: 0 auto;
	}
	.pf-box:nth-of-type(3n){
		margin: 0 auto;
	}
	.pf1{
		display: none;
	}
	.pf3{
		display: none;
	}
	.pf5{
		display: none;
	}

	/*feature*/
	.feature-wrapper{
		width: 90%;
		margin: 0 auto;
	}
	.ft-box{
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	.ft-box:nth-of-type(3n){
	margin: 0 auto;
	}

	/*profile*/
	.profile-wrapper{
		width: 90%;
		margin: 0 auto;
	}
	.my-photo-box{
		width: 90%;
		float: none;
		padding-bottom: 20px;
	}
	.my-text-box{
		width: 90%;
		float: none;
		text-align: center;
	}

	/*contact*/
	.contact-wrapper{
		width: 90%;
		margin: 0 auto;
	}
	.left-content{
		width: 90%;
		float: none;
	}
	.mail{
		padding-bottom: 20px;
		text-align: center;
	}
	.tel{
		padding-bottom: 20px;
		text-align: center;
	}
	.right-content{
		float: none;
		width: 90%;
	}
	.sns{
		text-align: center;
	}




}



