*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li{
	list-style: none;
}

	/*header*/
header{
	width: 100%;
	background-color: #ec715f;
    height: 70px;
}
nav{
	width: 1024px;
	margin: 0 auto;
}
.logo-img{
	float: left;
	height: 70px;
}
.header-list{
	display: inline-block;
	float: right;
	line-height: 70px;
}
.header-item{
	display: inline-block;
	margin: 0 30px;
	font-size: 16px;
	color: #fafafa;
}

/*main-visual*/
.main-visual{
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}
.main-text{
	text-align: center;
	padding-top: 200px;
	color: #fafafa;
}
h1{
	font-size: 64px;
	padding-bottom: 10px;
}
.main-text > p{
	font-size: 20px;
}

/*portfolio*/
.portfolio{
	background-color: #eceff1;
	width: 100%;
}
.portfolio-wrapper{
	width: 920px;
	margin: 0 auto;
	padding: 90px 0;
}
.portfolio-text{
	text-align: center;
	padding-bottom: 30px;
}
.portfolio-head{
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.border{
	width: 70px;
	border-bottom: 3px solid #ec715f;
	margin-bottom: 30px;
	display: inline-block;
}
.portfolio-text > p{
	font-size: 16px;
	color: #000000;
}
/*pf-box*/
.portfolio-boxes::after{
	content: "";
	display: block;
	clear: both;
}
.pf-box{
	width: 300px;
	height: 250px;
	margin: 0 10px 10px 0;
	float: left;
}
.pf-box:nth-of-type(3n){
	margin-right: 0;
}
.pf1{
	background-image: url(img/sketch.jpg);
	background-size: cover;
	background-position: center;
}
.pf2{
	background-image: url(img/websuku.png);
	background-size: cover;
	background-position: center;
}
.pf3{
	background-image: url(img/write.jpg);
	background-size: cover;
	background-position: center;
}
.pf4{
	background-image: url(img/webcamp.png);
	background-size: cover;
	background-position: center;
}
.pf5{
	background-image: url(img/talk.jpg);
	background-size: cover;
	background-position: center;
}
.pf6{
	background-image: url(img/webcamp-mother.png);
	background-size: cover;
	background-position: center;
}

/*feature*/
.feature{
	width: 100%;
}
.feature-wrapper{
	width: 980px;
	margin: 0 auto;
	padding: 90px 0;
}
.feature-text{
	text-align: center;
	padding-bottom: 30px;
}
.feature-head{
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.border{
	width: 70px;
	border-bottom: 3px solid #ec715f;
	margin-bottom: 30px;
	display: inline-block;
}
.feature-text > p{
	font-size: 16px;
	color: #000000;
}

/*feature-box*/
.feature-boxes::after{
	content: "";
	display: block;
	clear: both;
}
.ft-box{
	width: 320px;
	margin-right:10px;
	float: left;
}
.ft-box:nth-of-type(3n){
	margin-right: 0;
}
.ft-icon{
	font-size: 60px;
	text-align: center;
}
.ft-box > h3{
	font-size: 20px;
	color: #000000;
	padding: 10px 0;
	text-align: center;
}

/*profile*/
.profile{
	width: 100%;
	background-color: #eceff1;
}
.profile-wrapper{
	width: 1024px;
	margin: 0 auto;
	padding: 90px 0;
}
.profile-text{
	text-align: center;
	padding-bottom: 30px;
}
.profile-head{
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.border{
	width: 70px;
	border-bottom: 3px solid #ec715f;
	margin-bottom: 30px;
	display: inline-block;
}
.profile-text > p{
	font-size: 16px;
	color: #000000;
}

/*introduction*/
.introduction::after{
	content: "";
	display: block;
	clear: both;
}
.my-photo-box{
	width: 512px;
	float: left;
}
.my-photo{
	margin: 0 auto;
	text-align: center;
	background-image: url(img/my-icon.jpg);
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-position: center;
}
.my-text-box{
	width: 512px;
	float: left;
}
.my-text-box > h3{
	font-size: 20px;
	padding-bottom: 5px;
}
.my-text-box > p{
	font-size: 16px;
	color: #000000;
}
.skill{
	margin-top: 20px;
}



